<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
</head>
<body>

    <div id="app1">
     <h1 v-if="ok">abc</h1>
        <h1 v-else>fff</h1>

        <template v-if="ok">
            <h1>text</h1>
            <h1>text</h1>
            <h1>text</h1>
        </template>

        <div v-if="Math.random()>0.5">sorry</div>
        <div v-else>no sorry</div>

    </div>
    <ul id="app2">
        <li v-for="(item,index) in items">
            {{parentMessage}} - {{index}} -{{item.message}}
        </li>

        <li > <span v-for="m in eventNum">{{m}}</span></li>

    </ul>

    <ul id="app3">
        <template v-for="item in items">
            <li>{{item.message}}</li>
            <li>aaa</li>
        </template>
    </ul>
    <ul id="app4">

        <li v-for="(val,key,index) in items">
            {{index}}:{{key}}{{val}}
        </li>

        <li > <span v-for="n in 10">{{n}}</span></li>



    </ul>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script>

    var app1 = new Vue({
        el:'#app1',
        data:{
           ok:true

        }

    })

    var app2 = new Vue({
        el:'#app2',
        data:{
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                numbers:[1,2,3,4,5,6]
        },
        computed:{
            eventNum : function(){
                return this.numbers.filter(function(numbers){
                    return numbers % 2 ==0;
                })
            }
        }

    })

    var app3 = new Vue({
        el:'#app3',
        data:{

            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]


        }

    })

    var app4 = new Vue({
        el:'#app4',
        data:{

            parentMessage: 'Parent',
            items: {
                name:'lixoahong',
                age:27,
                id:130
            }


        }

    })

</script>
</body>
</html>